/* ====== GLOBAL CSS */
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
        url('./fonts/PlusJakartaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./fonts/PlusJakartaSans-Light.woff2') format('woff2'),
        url('./fonts/PlusJakartaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
        url('./fonts/PlusJakartaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
body,ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

/* ============== */

/* ====== gsearch css ======= */
.site-wrapper {
    position: relative;
}
.site-wrapper .site-nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.site-wrapper .site-nav ul {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}
.site-wrapper .site-nav ul li {
    display: inline-block;
    padding: 20px 8px;
}
.site-wrapper .site-nav ul li a {
    font-size: 0.9rem;
}
.site-wrapper .site-nav ul li a:hover {
    text-decoration: underline;
}
.site-wrapper .gsearch-form:not(.gsearch-form--advanced) {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gsearch-form .g-logo {
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    font-size: 4.5rem;
    letter-spacing: -5px;
    margin-bottom: 20px;
}
.g-logo span:nth-child(1) {
    color: #4285F4;
}
.g-logo span:nth-child(2) {
    color: #EA4335;
}
.g-logo span:nth-child(3) {
    color: #FBBC05;
}
.g-logo span:nth-child(4) {
    color: #4285F4;
}
.g-logo span:nth-child(5) {
    color: #34A853;
}
.g-logo span:nth-child(6) {
    color: #EA4335;
}
.gsearch-form--images .g-logo {
    position: relative;
}
.gsearch-form--images .g-logo::after {
    content: "images";
    position: absolute;
    right: 14px;
    color: #4285F4;
    font-family: arial;
    font-size: 1rem;
    letter-spacing: initial;
    font-weight: 100;
    bottom: -3px;
}

.gsearch-form .gsearch-form-input {
    width: 100%;
    height: 38px;
    max-width: 582px;
    padding: 5px 15px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    font-size: 1rem;
}

.gsearch-form .gsearch-form-input:hover, .gsearch-form .gsearch-form-input:focus {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.gsearch-form-action {
    margin-top: 25px;
}
.gsearch-form-action .gsearch-form-submit {
    background: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    padding: 15px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 0.9rem;
}
.gsearch-form-action .gsearch-form-submit:hover {
    box-shadow: 0 1px 2px rgb(32 33 36 / 28%);
}

.gsearch-form--advanced {
    padding: 64px 15px;
}
.gsearch-form--advanced legend {
    color: #EA4335;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 20px;
    padding: 0 15px 20px;
    border-bottom: 1px solid #e5e5e5;
}
.gsearch-form--advanced .form-control {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    max-width: 768px;
}
.gsearch-form--advanced .form-control span {
    width: 33%;
    font-size: 14px;
}
.gsearch-form--advanced .form-control input {
    flex-grow: 1;
    font-size: 13px;
    padding: 5px 8px;
    border: 1px solid #e5e5e5;
}
.gsearch-form--advanced .form-control input:focus {
    border-color: #4285F4;
}
.gsearch-form--advanced .gsearch-form-action {
    max-width: 768px;
    display: flex;
    justify-content: flex-end;
}
.gsearch-form--advanced .gsearch-form-action .gsearch-form-submit {
    background-color: #4285F4;
    color: white;
    margin: 0;
    padding: 10px 8px;
    font-weight: 600;
    font-size: 12px;
}
.gsearch-form--advanced .gsearch-form-action .gsearch-form-submit:hover {
    box-shadow: none;
}